*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeueBook.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    }
body{
    font-family: "Noto Sans", "sans-serif";
    margin: 0;
}
.mobile-menu{
    display: none;
}
.container{
    max-width: 90rem;
    margin: auto;
}
.navbar{
    display: flex;
    align-items: center;
    color: #fff;
    height: 5.875rem;
    position: fixed;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    z-index: 2;
    width: 100%;
    transition: background-color 0.2s, height 0.2s;
}
.logo{
    display: none;
}
.logo-svg{
    width: 9rem;
    height: 2.75rem;
}
.navbar-light{
    background-color:#fff;
    color: #292d33;
    height: 4.625rem;
}
.navbar-light .header-logo-path{
    fill: #292d33;
}
.phone-icon{
    fill:#5c8ee6;
}
.header{
    padding-top: 5.875rem;
    margin-bottom: 9.375rem;
}
.header-image{
    background-image: url('../img/main_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.header-image::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    background: rgba(41, 45, 51, 0.7);
    width: 100%;
    height: 100%;
    z-index: 0;
}
.header-nav{
    display: flex;
    flex-basis: 100%;
    height: 100%;
    align-items:center;
    padding: 0;
    padding-left: 3.125rem;
    list-style: none;
    margin: 0;
}
.header-phone{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap:.625rem; 
    margin-right: 3.125rem;
}
.header-nav-item{
    height: 100%;
    display: flex;
    align-items:center;
}
.header-nav-item:not(:last-child){
    margin-right: 4%;
}
.header-nav-link{
    display: flex;
    height: 100%;
    align-items:center;
    text-decoration: none;
    font-size: 1rem;
    color:inherit;
    position: relative;
}
.header-nav-link:after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom:-1px;
    background-color:#5c8ee6;
    transform:scaleX(0);
    transition: transform 0.2s;
}
.header-nav-link:hover::after{
    transform:scaleX(1);
}
.header-phone-link{
    text-decoration: none;
    font-size: 1rem;
    color:inherit;
}
.button{
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    color:#fff;
    background:#3A71D1;
    padding: 1.5625rem 3.75rem;
    border:none;
    display: inline-block;
    cursor: pointer;
}
.navbar-button{
    flex-shrink: 0;
    height: 100%;
    padding: 1.3125rem 2.6875rem;
}
.navbar-button .button-icon{
    display: none;
}
.header-button{
    height: 100%;
}
.header-logo{
    display: flex;
    align-items:center;
    padding: 0px 3.125rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}
.seporator{
    width: 9.375rem;
    height: .125rem;
    background: rgb(92, 142, 230);
}
.header-content{
    padding-top: 9.375rem;
    position: relative;
    z-index: 1;
    color:#fff;
}
.header-title{
    max-width: 68.125rem;
    font-family: "Bebas Neue Book";
    font-size: 5rem;
    line-height: 120%;
    margin: 1.25rem 0;
    letter-spacing: 1.3px;
    word-spacing: -1.9px;
}
.header-text{
    max-width: 45rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: .9375rem;
    padding-top: 1.25rem;
}
.header-features{
    display: flex;
    min-height: 10.5rem;
    padding: 0;
    margin-top: 6.25rem;
    margin-bottom: .625rem;
    list-style: none;
    color:#fff;
    position: relative;
}
.slider-buttons{
    display: none;
    height: 44px;
}
.slider-button-prev, .slider-button-next{
    height: 100%;
    flex-basis: 50%;
    border: 1px solid rgba(235, 235, 240, 0.2);
    display:flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
}
.header-features-item{
    padding: 1.875rem 3.21rem;
    min-height: 100%;
    border: 1px solid rgba(235, 235, 240, 0.2);       
    width: 17.75rem;
}
.header-features-text{
    font-size: 1rem;
    line-height: 160%;
    font-weight: 400;
    margin-bottom:0;
    margin-top: 1.125rem;
}
.section-title{
    font-family: "Bebas Neue Book";
    color: #292d33;
    font-size: 3.75rem;
    line-height: 120%;
}
.section{
    margin-bottom: 9.375rem;
}
.steps{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1.875rem;
}
.steps-item{
    max-width: 20.625rem;
    max-height: 13.625rem;
}
.steps-num{
    color: rgb(92, 142, 230);
    font-family: "Bebas Neue Book";
    font-size: 3rem;
    line-height: 120%;
    display: flex;
    align-items:center;
}
.steps-num::after{
    content:'';
    height: 1px;
    background: rgb(235, 235, 240);
    width: 100%;
    display: inline-block;
    margin-left: 1.875rem;
}
.steps-title{
    color: rgb(41, 45, 51);
    font-family: "Noto Sans", "sans-serif";
    font-size: 1.75rem;
    line-height: 160%;
    margin-top: 1.875rem;
    margin-bottom: .625rem;
}
.steps-text{
    color: rgb(130, 138, 153);
    font-family: "Noto Sans", "sans-serif";
    font-size: 1rem;
    line-height: 160%;
    margin-top: .625rem;
    margin-bottom: 1.25rem;
}
.steps-link{
    display: flex;
    align-items:center;
    text-decoration: none;
    color: rgb(92, 142, 230);
    font-family: "Noto Sans", "sans-serif";
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
}
.steps-link::before{
    content:'';
    height: 1px;
    background: rgb(92, 142, 230);
    width: 2.5rem;
    display: inline-block;
    margin-right: 1.25rem;
    transition: width 0.2s;
}
.steps-link:hover::before{
    width: 60px;
}
.slider-steps-buttons{
    display:flex;
    height: 40px;
    justify-content: flex-end;
}
.slider-steps-button-prev, .slider-steps-button-next{
    height: 2.5rem;
    width: 3.75rem;
    flex-basis: 10%;
    display:flex;
    align-items:center;
    justify-content: center;
    cursor: pointer; 
    background:rgb(92, 142, 230);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9.375rem;
}
.card{
    flex-basis: 33%;
    border: 1px solid rgb(235, 235, 240);
    position: relative;
    text-decoration: none;
    transition: border 0.2s;
}
.card:hover .card-title{
    color: #5c8ee6;
}
.card:hover{
    border-color: #5c8ee6;
}
.card-content{
    padding: 2.5rem 3.125rem;
}
.card-title{
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 140%;
    color: rgb(41, 45, 51);
    margin-top: 0;
    margin-bottom: 10px;
    transition: color 0.2s;
}
.card-text{
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 24.625rem;
}
.card-image{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 90%;
}
.trademark-cards{
    display: flex;
}
.trademark-card{
    flex-basis: 50%;
    border: 1px solid rgb(235, 235, 240);
    text-decoration: none;
    transition: border 0.2s;
    padding: 3rem;
    display: grid;
    grid-column-gap: 3.125rem;
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "logo title title" "logo text text";
    margin-bottom: 9.375rem;
}
.trademark-card-logo{
    width: 100%;
    grid-area: logo;
    fill:#828a99;
}
.trademark-card-title{
    grid-area: title;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 160%;
    color: rgb(41, 45, 51);
    margin: 0;
}
.trademark-card-text{
    grid-area: text;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: rgb(130, 138, 153);
    margin-top: .625rem;
}
.trademark-card:hover{
    border-color: #5c8ee6;
}
.trademark-card:hover .trademark-card-logo{
    fill:#5c8ee6;
}
.trademark-card:hover .trademark-card-title{
    color:#5c8ee6;
}
.founder{
    position: relative;
    min-height: 41.25rem;
}
.founder-photo{
    position: absolute;
    left:0;
    width: 40%;
    top:0;
    min-height: 100%;
    object-fit: cover;
}
.founder-content{
    max-width: 45rem;
    margin-bottom: 9.375rem;
}
.founder-content-wrapper{
    display:flex;
    justify-content: flex-end;
}
.founder-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: rgb(130, 138, 153);
}
.clients-wrapper{
    display: flex;
    gap: 3.125rem;
}
.clients-content{
    flex-basis: 50%;
}
.clients-list{
    list-style-type: none;
    padding: 0;
    columns: 2 auto;
}
.clients-list-item{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: #292D33;
}
.clients-logo-list{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 10;
}
.clients-logo-item{
    flex-basis: 33%;
    border: 1px solid #ebebf0;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 1rem;
}
.clients-logo{
    max-width: 100%;
    width: 70px;
    height: 70px;
}

@media(max-width: 1700px){
    html{
        font-size: 14px;
    }
    .header-image{
        position: center;
    }
}
@media(max-width: 1420px){
    html{
        font-size: 13px;
    }
    .header-image{
        position: center;
    }
    .header-logo{
        padding: 2rem;
    }
    .header-nav{
        padding-left: 2rem;
    }
    .header-phone{
        margin-right: 2rem;
    }
    .header-title{
        max-width: 70rem;
    }
}
@media(max-width: 1260px){
    .container{
        max-width: 70rem;
    }
    .header-image{
        position: center;
    }
    .logo-svg{
        max-width: 6rem;
    }
    .header-phone{
        display: none;
    }
    .navbar{
        height: 5rem;
    }
    .navbar-button{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .slider-buttons{
        display: flex;
    }
    .slider-steps-buttons{
        display: flex;
    }
    .header-features-item{
        margin: 0;
    }
    .card{
        flex-basis: 50%;
    }
    .trademark-card{
        grid-template-columns: 3.125rem auto;
    }
    .founder-content{
        max-width: 35rem;
    }
}

@media(max-width: 992px){
    html{
        font-size: 12px;
    }
    .container{
        max-width: 60rem;
    }
    .header-nav{
        display: none;
    }
    .header-logo{
        flex-grow: 1;
        justify-content: center;
    }
    .mobile-menu-toggle{
        width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.8rem;
        border-right: 1px solid rgba(235, 235, 240, 0.2); 
    }
    .navbar-light .mobile-menu-line{
        background-color:#333;
    }
    .mobile-menu-line{
        height: 1px;
        background-color:#fff;
        width: 100%;
        transition: transform 0.2s;
    }
    .mobile-menu-line:nth-child(2){
        width: 80%;
    }
    .navbar-button .button-text{
        display: none;
    }
    .navbar-button .button-icon{
        display: block;
        fill:#fff;
    }
    .mobile-menu{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 2;
        background-color:#fff;
        padding-top: 5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .mobile-menu-nav{
        list-style: none;
        padding: 0;
    }
    .mobile-menu-link{
        color: rgb(41, 45, 51);
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 160%;
    }
    .mobile-menu.is-open{
        display:block;
    }
    .mobile-menu-nav-item{
        margin-bottom: 2rem;
    }
    .mobile-submenu{
        list-style-type: none;
        padding: 0;
        padding-left: 1rem;
        margin-top: 1rem;
    }
    .mobile-submenu-link{
        text-decoration: none;
        color: rgb(130, 138, 153);
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
    }
    .mobile-phone{
        display: block;
        color: rgb(41, 45, 51);
        font-size: 20px;
        font-weight: 600;
        line-height: 160%;
        text-decoration-line: underline;
        border-top: 1px solid rgb(235, 235, 240);
        padding-top: 2rem;
        margin-bottom: 1.5rem;
    }
    .mobile-info{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .mobile-info-address{
        font-style: normal;
        color: rgb(41, 45, 51);
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        padding-left: .3125rem;
    }
    .mobile-info-email{
        text-decoration: none;
        color: rgb(41, 45, 51);
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        padding-left: .3125rem;
    }
    .close-menu .mobile-menu-line:nth-child(2){
        display: none;
    }
    .close-menu .mobile-menu-line:nth-child(1){
        transform: rotate(45deg) translateY(9px);
    }
    .close-menu .mobile-menu-line:nth-child(3){
        transform: rotate(-45deg) translateY(-9px)
    }
    .trademark-cards{
        flex-direction: column;
    }
    .clients-wrapper{
        flex-direction: column;
    }
}

@media(max-width: 768px){
    .container{ 
        max-width: 40rem;
    }
    .navbar{
        max-width: 768px;
    }
    .header-title{
        font-size: 2rem;
    }
    .header-content{
        padding-top: 2rem;
    }
    .card{
        flex-basis: 100%;
    }
    .founder-photo{
        position: relative;
        width: 100%;
        margin-bottom: 3.125rem;
    }
}
@media(max-width: 576px){
    .container{ 
        max-width: 90%;
    }
    .navbar{
        max-width: 576px;
    }
    .header-title{
        font-size: 2rem;
    }
    .header-content{
        padding-top: 2rem;
    }
    .section{
        margin-bottom: 9.375rem;
    }
    .swiper-wrapper{
        margin-bottom: 5rem;
    }
    .header{
        margin-bottom: 6.25rem;
    }
    .trademark-card{
        grid-template-areas: "logo title" "text text";
    }
    .clients-list{
        columns:1;
    }
    .clients-logo-item{
        flex-basis: 50%;
    }
}